@media (max-width: 767px) {
  h1.hero{
    font-size:35px;
  }
  .dl-horizontal dt{
    float:left;
    padding-right:10px;
  }
  .topic{
    padding-top:15px;
  }
}

@media (max-width: 320px) {
  h1.hero{
    font-size:25px;
  }
}