/* 
  -----------------------------------
  PopMenu Magic Style Sheet
  by Project Seven Development
  www.projectseven.com
  Menu Type: Horizontal
  Style Theme:0 -Basic Style
  -----------------------------------
*/
#p7PMnav {
	margin: 0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#p7PMnav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
}
#p7PMnav ul {
	margin: 0;
	padding: 0;
	background-color: #344F69;
	position: absolute;
	left: -9000px;
	z-index: 10000;
	border: 1px solid #FFFFFF;
}
#p7PMnav a {
	display: block;
	text-decoration: none;
	padding: 4px 6px;
	color: #FFFFFF;
	line-height:1;
}
#p7PMnav a:hover, #p7PMnav a:active, #p7PMnav a:focus {
	background-color: #C9D0D8;
	color: #000000;
}

/* ------ the current page marker style ------ */
#p7PMnav .p7PMmark {
	color: #FFFFFF;
	font-weight: bold;
}
/* ------ the trigger link styles ------- */

/*the trigger link */
#p7PMnav ul .p7PMtrg, #p7PMnav ul .p7PMon {
	background-image:  url(img/p7PM_light_east.gif);
	background-repeat:	no-repeat;
	background-position: 118px 4px;
}
/* the active trigger link style */
#p7PMnav .p7PMon {
	background-color: #EEEEEE;
	color: #000000;
}
/*the submenu classes */

#p7PMnav .p7PMhide {
	left: -9000px;
}
#p7PMnav .p7PMshow {
	left: auto;
	z-index: 20000 !important;
}
/* Top level menu width */
#p7PMnav li {
	float: left;
	width: 116px;
}
#p7PMnav ul li {
	float: none;
	font-weight: normal;
	text-align: left;
}
#p7PMnav ul, #p7PMnav ul li {
	width: 130px;
}